<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>欢迎来到Vks的网页</title>
        <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <header>
                <h1>欢迎来到Vks的网页</h1>
        </header>

        <nav>
                <a  href="http://127.0.0.1:5000">主页</a>
                <a  href="http://127.0.0.1:5000/information">消息</a>
                <a  href="http://127.0.0.1:5000/community">社区</a>
                <a  href="#">暂无</a>
        </nav>

        <section>
                <div  class="container">
                        <h2>个人作品展示</h2>
                </div>
                        <div  class="product">
                                <img src="../static/competition_img/3d作品.png " alt="Product  1" class="img-fit">
                                <h3>校级赛</h3>
                                <p>3d打印大赛</p>
                                <a href="../static/competition_img/3d作品.png" class="button">点击查看</a>
                        </div>
                        <div  class="product">
                                <img src="../static/competition_img/轴系实验作品.png" alt="Product  2" class="img-fit">
                                <h3>实验设计</h3>
                                <p>机械设计基础轴系实验</p>
                                <a href="../static/competition_img/轴系实验作品.png" class="button">点击查看</a>
                        </div>
                        <div  class="product">
                                <img src="../static/competition_img/三维课程设计.png" alt="Product  3" class="img-fit">
                                <h3>课程设计</h3>
                                <p>三维课程设计</p>
                                <a href="../static/competition_img/三维课程设计.png" class="button">点击查看</a>
                        </div>
        </section>

        <div class="navbar">
                <div >
                        <p>&copy;  本网站所有解释权归站主所有</p>
                </div>
                <div >
                        <p>有问题请联系：1420273076@qq.com</p>
                </div>
        </div>
</body>
</html>