<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title> {{h}}</title>
        <link rel="icon" href="../static/icon/1e4418b2cc48350f10b21179a7f1062.jpg">
        <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <header>
          <h1>欢迎来到Vks的blog</h1>
        </header>
        <nav>
                <a  href="http://127.0.0.1:5000">主页</a>
                <a  href="http://127.0.0.1:5000/information">消息</a>
                <a  href="http://127.0.0.1:5000/works">个人作品</a>
                <a  href="http://127.0.0.1:5000/personal">了解作者</a>
        </nav>
        <main>

        </main>
        <div class="navbar">
                <div >
                        <p>&copy;  本网站所有解释权归站主所有</p>
                </div>
                <div >
                        <p>有问题请联系：1420273076@qq.com</p>
                </div>
                 <div>
                        <p>本网站由Vks创始于2024.7.16</p>
                </div>
        </div>
</body>
</html>