<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <header>
          <h1>欢迎来到Vks的网页</h1>
        </header>
        <nav>
                <a  href="http://127.0.0.1:5000">主页</a>
                <a  href="http://127.0.0.1:5000/information">消息</a>
                <a  href="http://127.0.0.1:5000/community">社区</a>
                <a  href="#">暂无</a>
        </nav>
        <section>
                <p style="text-align: center">欢迎来到消息界面</p>
                <p style="text-align: center">这里可以查看消息</p>
                <p style="text-align: center">暂无消息</p>
        </section>
        <div class="navbar">
                <div >
                        <p>&copy;  本网站所有解释权归站主所有</p>
                </div>
                <div >
                        <p>有问题请联系：1420273076@qq.com</p>
                </div>
        </div>
</body>
</html>