<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>社区</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <header>
          <h1>欢迎来到Vks的网页</h1>
        </header>
        <nav>
                <a  href="http://127.0.0.1:5000">主页</a>
                <a  href="http://127.0.0.1:5000/information">消息</a>
                <a  href="http://127.0.0.1:5000/community">社区</a>
                <a  href="#">暂无</a>
        </nav>
        <section>
            <h2 style="text-align: center">社区</h2>
        </section>
        <div class="navbar">
                <div >
                        <p>&copy;  本网站所有解释权归站主所有</p>
                </div>
                <div >
                        <p>有问题请联系：1420273076@qq.com</p>
                </div>
        </div>
</body>
</html>